* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, u, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button,
#top-nav ul, #top-nav li, #global-links ul, #global-links li, #mobile-nav ul, #mobile-nav li, #left-nav ul, #left-nav li, ul#breadcrumbs, ul#breadcrumbs li, footer ul, footer li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header{
    background-image: url("img/header.jpg");
    position: relative;
    height: 100%;
    background-size: 100% 100%;
    background-position: 0 -115px;
    background-repeat: no-repeat;
    z-index: 999;
}

header .header{
    width: 100%;
}

body {
  font: 62.5%/1.7em "Akkurat Pro Regular", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #342f2e;
  background: #fff;
  min-width: 98%;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font: 46px/1.2em "Campton Book", Tahoma, sans-serif;
  color: #4e2a84;
  margin-bottom: 1rem;
}

h3 {
  font: 34px/1.2em "Campton Bold", Impact, sans-serif;
  color: #4e2a84;
  margin-bottom: .5rem;
}

h4 {
  font: 26px/1.2em "Akkurat Pro Regular", Arial, sans-serif;
  color: #716c6b;
  margin-bottom: 1rem;
}

h5 {
  font: 21px/1.3em "Akkurat Pro Regular", Arial, sans-serif;
  color: #4e2a84;
  margin-bottom: 1rem;
}

h6 {
  font: 18px/1.3em "Campton Bold", Impact, sans-serif;
  color: #716c6b;
  margin-bottom: 1rem;
}

b{
    font-weight: bold;
}

@font-face {
  font-family: "Akkurat Pro Light";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Light Italic";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Regular";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Italic";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Bold";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat Pro Bold Italic";
  src: url("https://common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton Book";
  src: url("https://common.northwestern.edu/v8/css/fonts/CamptonBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton Bold";
  src: url("https://common.northwestern.edu/v8/css/fonts/CamptonBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton Extra Bold";
  src: url("https://common.northwestern.edu/v8/css/fonts/CamptonExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Campton Extra Light";
  src: url("https://common.northwestern.edu/v8/css/fonts/CamptonExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#sidebar{
    margin-top: 5%;
    height: 100%;
    margin-left: 6%;
    width: 11%;
    float: left;
}
#sidebar a{

    display: block;
    color: #707070;
    font: 250%/1.7em "Akkurat Pro Regular", Arial, sans-serif;
    width: 100%;
    height:  50px;
    line-height: 50px;
    text-align: center; 
    text-decoration: none;
}

#sidebar a:hover{
    text-decoration: underline;
}

#sidebar #active-nav{
    color: #4e2a84;
    font-weight: bold;
}
/*#sidebar #active-nav{
    background-color: #7a50ba;
    font-weight: bold;
}*/

#content{
    font-size: 16px;
    line-height: 1.7em;
    margin-left: 17%;
    padding: 20px;
    margin-right: 17%;
    margin-bottom: 5%;
}

#application{
    vertical-align: middle;
    margin-left: 15%;
    margin-right: 15%;
}

.video{
    align-items: center;
}

.q{
    margin: 5px 0 5px 0;
    padding: 20px 20px 20px 20px;
            
    border-radius: 10px;
    overflow:hidden;

    transition: height 0.25s 0s;
}
.q .ans{
    margin-left: 20px;
}
.q:hover{
    background-color: #EEE;
}

.profile-pic{
    width: 200px;
    height: 200px;
}

.clearfloat{
    clear: both;
}